.volunteer_history_page {
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    flex-direction: column;
    gap: 1rem;
    color: #000000;
    justify-content: center;
    align-items: center;
  }
    
  .volunteer_history_page span {
    color: rgb(255, 111, 0);
  }

  .volunteer_history_page h3 {
    flex: auto;
    padding: 0%;
    margin: 1rem;
    font-size: 2rem;

  }

  .volunteer_history_page button:hover {
    background-color: rgba(0, 212, 255, 1);
  }

  .volunteer_history_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10%;
  }

  .header {
    flex: auto;
    margin-top: 12rem;
    flex-direction: column;
  }

  .sessions {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  @media only screen and (max-width: 1200px){
    .volunteer_history_page{
      font-size: 1.5rem;
    }
    .volunteer_history_page button {
      margin: 0.6rem 1rem;
      font-size: 1.5rem;
    }
  }