.volunteer_home_page {
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    flex-direction: column;
    gap: 1rem;
    color: #000000;
    justify-content: center;
    align-items: center;
  }
    
  .volunteer_home_page span {
    color: rgb(255, 111, 0);
  }
    
  .volunteer_home_page button:hover {
    background-color: rgba(0, 212, 255, 1);
  }
    
  @media only screen and (max-width: 1200px){
    .volunteer_home_page{
      font-size: 1.5rem;
    }
    .volunteer_home_page button {
      margin: 0.6rem 1rem;
      font-size: 1.5rem;
    }
  }